// Place all the styles related to the spree_posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.news-ticker {
  h3 {
    color: #00ADEE;
  }
  background: white;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}

#news-container div {
  min-height: 75px;
  padding: 5px 5px 5px 5px;
}

#news-container dt dd {
  color: black;
}
